/* global styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

/* custom styles */

#weatherImage {
    max-width: 8rem;
    max-height: 8rem;
}

#weather {
    display: inline-block;
}