/* global styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    /* background: linear-gradient(to right, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 0.5)); */
    background-color: rgba(220,220,220,0.2);
}

/* custom styles */

#weatherImage {
    max-width: 8rem;
    max-height: 8rem;
}

#weather {
    display: inline-block;
}

#favCard {
    border-radius: 15px;
    box-shadow: 8px 10px 18px -5px rgba(0,0,0,0.71);
    min-height: 350px;
    max-width: 450px;
}
button.btn {
    font-size: 1rem !important;
}
#weatherTitle {
    font-size: 2rem;
}